APP_ENV=

JWT_SECRET_KEY=
JWT_ALGORITHM=

# MongoDB Settings
MONGO_URL=
MONGO_DB_NAME=

# Brevo Email Settings
MAIL_MAILER=smtp
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USERNAME=a1442c001@smtp-brevo.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls

MAIL_FROM_ADDRESS="yTbWt@example.com"
MAIL_FROM_NAME=""
BREVO_API_KEY=
SMTP_PORT=587
SMTP_USE_TLS=true


GOOGLE_CLIENT_ID=

MAX_LOGIN_ATTEMPTS=5
LOCKOUT_MINUTES=15
REQUIRE_ADMIN_OTP=False